@charset "UTF-8";
@import url("../../styles/cores.css");

table.divisão {
    border: 1px solid var(--secondary-color);
    
}

table.divisão td {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisão tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisão tr:nth-child(2) tr:nth-child(2) {
    border-left: 3px solid black;
}

table.divisão tr:nth-child(2) tr:nth-child(1) {
    text-decoration: underline;
}