@charset "UTF-8";
@import url('links.css');
@import url('terminal.css');
@import url('formulario.css');
@import url('cores.css');
@import url('tipografia.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--header-bg-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
}
main {
  padding: 20px;
  font-family: var(--font-family);
  margin-bottom: 75px;
}
footer {
  background-color: var(--footer-bg-color);
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
div.margin {
  margin: 20px;
}
div.notas {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 15px;
  margin: 20px 0;
  max-width: fit-content;
  display: inline-block;
}
div.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
pre {
  white-space: pre-wrap; /* Preserve whitespace */
}
/* Estilo para o botão de voltar ao topo --> */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.back-to-top:hover {
  background-color: darkgreen;
}
a {
  vertical-align: middle;
}
/* <-- FIM do estilo para o botão de voltar ao topo */
/* Estilo para botões --> */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
}
button:hover {
  background-color: darkgreen;
}
/* <-- FIM do estilo para botões */
/* Estilo para listas --> */
ol {
  list-style-type: decimal;
  padding-left: 20px;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
.flex-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}