@charset "UTF-8";
@import url('links.css');
@import url('terminal.css');
@import url('formulario.css');
@import url('cores.css');
@import url('tipografia.css');
@import url('botoes.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: var(--font-family);
  margin-bottom: 10px;
}
header {
  background-color: var(--header-bg-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
}
main {
  min-height: 100vh;
  padding: 20px;
  font-family: var(--font-family);
  padding-bottom: 350px;
}
footer {
  background-color: var(--footer-bg-color);
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
div.margin {
  margin: 20px;
}
div.notas {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 15px;
  margin: 20px 0;
  max-width: fit-content;
  display: inline-block;
}
div.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
pre {
  white-space: pre-wrap; /* Preserve whitespace */
}
/* Estilo para o botão de voltar ao topo --> */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.back-to-top:hover {
  background-color: darkgreen;
}
a {
  vertical-align: middle;
}
/* <-- FIM do estilo para o botão de voltar ao topo */

/* <-- FIM do estilo para botões */
/* Estilo para listas --> */
ol {
  list-style-type: decimal;
  padding-left: 20px;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
/* <-- FIM do estilo para listas */
.flex-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 10px;

}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center; /* ou center, se preferir */
  gap: 20px; /* espaço entre as divs */
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap; /* permite quebrar linha em telas pequenas */

}

.border {
  border: 1px solid var(--primary-color);
  max-width: fit-content;
  max-height: fit-content;
  padding: 25px;
}
.text-align-center {
  text-align: center;
  margin: 20px 0;
}

.resultado {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 15px;
  margin: 20px 0;
  max-width: fit-content;
  display: inline-block;
}
.content {
  min-width: 70vw;
  min-height: 70vh;
  border: 1px solid black;
  border-radius: 20px;
  margin: 30px;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}