@charset "UTF-8";
@import url('cores.css');


/* Estilo para o emulador de terminal --> */
.terminal {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    color: #00ff00; /* Green text */
    background-color: #1e1e1e; /* Dark background */
    min-height: 400px;
    max-height: 800px;
    min-width: 400px;
    resize: both; /* Allow resizing */
    overflow: hidden auto; /* Enable scrolling */
    border: 2px solid rgb(53, 53, 53); /* Border for the terminal */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.output {
    padding: 10px; /* Padding inside the terminal */
}
.terminal header {
    padding: 5px;
    font-style: bolder;
    text-align: left;
    position: relative;
}
.terminal h1 {
    margin: 0; /* Remove default margin */
}

.prompt {
    color: #00d7ff; /* Cyan for the prompt */
    font-weight: bold;
}

/*
    barra de rolagem personalizada para o terminal */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */   
    height: 12px; /* Height of the scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}
::-webkit-scrollbar-track {
    background-color: #333; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

